/* --------------------------------------------------------------APP-MAIN-CSS--------------------------------------------------------------------------------- */


body, html {
    height: 100%;
    width: 100%
  }

  body {
      background: rgba(3, 3, 3, 0.0);
  }
  
  #obtain-new-token {
    display: none;
  }
  

  .navbar {
    background-color: rgba(3, 3, 3, 0.0);
    padding: 1% 0;
    font: 1.2em;
  }
  
  .icon {
    max-height: 35px;
  }
  
  .navbar-brand {
    min-height: 35px;
    padding: 0 15px 5px; 
  
  } 


  .top-artist-header {
    background: white;
    display: table;
    height: 20%;
    position: relative;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    padding: 30px;
  }




/* 
  
  .artist-header {
    background: white;
    display: table;
    height: 20%;
    position: relative;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    padding: 15px;
     */

/* } */
  .home-main-container {
    background: rgb(11, 11, 11) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }
  
  
  .home-main-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
  }
  
  .home-main-content h1 {
    font-size: 5m;
    font-weight: 500;
  }
  
  
  .padding {
    padding: 80px 0;
  }
  

  .artist-grid {
      padding: 8px;
  }

/* 
  #profile-grid { overflow: auto; white-space: normal; }
  #profile-grid .profile { padding-bottom: 40px; }
  #profile-grid .panel { padding: 0 }
  #profile-grid .panel-body { padding: 15px }
  #profile-grid .profile-name { font-weight: bold; }
  #profile-grid .thumbnail {margin-bottom:6px;}
  #profile-grid .panel-thumbnail { overflow: hidden; }
  #profile-grid .img-rounded { border-radius: 4px 4px 0 0;}
   */
  
  .card-img {
      size: 80%;
  }



  .card-row {
      padding: 30px ;
  }

  .card-col {
      padding: 40px 70px;
  }
   */
  /* .fixed {
    background: url(../images/person-singing-1370545.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
  } */
  
  
  
  footer {
    width: 100%;
    background-color: white;
    padding: 5% 5% 10% 5%;
    color: black;
  }
  
  .fa {
    padding: 15px;
    font-size: 25px;
    color: black;
  }
  /* 
  .fa:hover {
  
  } */
  
  
  @media (max-width: 768px) {
    .home-content h1 {
      font-size: 300%;
    }
  
  }; 