/* --------------------------------------------------------------APP-MAIN-CSS--------------------------------------------------------------------------------- */


body, html {
height: 100%;
width: 100%;
font-family:'Varela', sans-serif;;
}

body {
  background-color: rgba(3, 3, 3, 0.0);
}

#obtain-new-token {
display: none;
}


.navbar {
background-color: rgba(255, 255, 255, 0);
padding: 1% 0;
font: 1.2em;
}

.icon {
max-height: 35px;
}

.navbar-brand {
min-height: 35px;
padding: 0 15px 5px; 

} 





/* 

.artist-header {
background: white;
display: table;
height: 20%;
position: relative;
vertical-align: middle;
text-align: center;
width: 100%;
padding: 15px;
*/



.top-artist-header {
  background: white;
  display: table;
  height: 20%;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  padding: 30px;
  font-family: 'Varela', sans-serif; 
  font-weight: bolder;
  font-size: 300px;
}

.test-container {
  display: none;
  width: 80%;
  height: 100%;
  padding: 20px;
  /* display: flex; */
  box-shadow: 0 0 8px 8px spread;
  justify-content: center;
  border: transparent;
  text-align: center;
  background:  rgba(65, 64, 64, 0.13);
  color: white;
  font-family: 'Varela', sans-serif;
  font-style: thin;
  border-radius: 25px;
  }

.artist-grid {
  padding: 10px;
  background: rgba(5, 5, 5, 0.95);
}

.concert-link {
  border-radius: 15px;
  width: 95%;
  margin-top: 30px ;
  margin-bottom: 30px;
  box-shadow: 10px whitesmoke;

}

.concertInfo {
  display: flex;
  justify-content: center;
  align-self: center;
}
.card {
  background: rgba(65, 64, 64, 0.13);
  outline: 1px solid transparent;
  box-shadow:  rgba(245, 241, 241, 0.05);
  border-radius: 25px
}

.card-img {
  box-shadow: 20px 20px spread rgba(241, 240, 240);
  outline: 1px solid transparent;
}

.card-title {
  color: rgba(241, 240, 240, .9);
  text-shadow: whitesmoke;
  font-size: 40px;
  font-family: 'Varela', sans-serif; 
  
}



.button:hover {
  background-color: rgb(240, 44, 191,);
}

.upcoming-shows-btn  {
  border-radius: 15px;
  width: 75%;
  margin-top: 30px;
  box-shadow: 10px whitesmoke;
}



.card-row {
  padding: 30px ;
}

.card-col {
  padding: 40px 70px;
}
*/
/* .fixed {
  background: url(../images/person-singing-1370545.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
} */


  





  
  
  footer {
    width: 100%;
    background-color: white;
    /* padding: 5% 5% 5% 5%; */
    color: black;
    font-size: 10px;
  }
  
  .fa {
    padding: 15px;
    font-size: 25px;
    color: black;
  }
  /* 
  .fa:hover {
  
  } */
  
  
  @media (max-width: 768px) {
    .home-content h1 {
      font-size: 300%;
    }
  
  }; 