/* --------------------------------------------------------------LANDING-PAGE-CSS------------------------------------------------------------------------------*/


body, html {
  height: 100%;
  width: 100%
}

#obtain-new-token {
  display: none;
}


.navbar {
  background-color: rgba(3, 3, 3, 0.0);
  padding: 1% 0;
  font: 1.2em;
 
}

.icon {
  max-height: 35px;
}

.navbar-brand {
  min-height: 35px;
  padding: 0 15px 5px;

}

.image-wrapper {
  background: url(../images/person-singing-1370545.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.home-main-container {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}


.home-main-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Varela', sans-serif;
  color: white;
}

.home-main-content h1 {
  font-size: 5m;
  font-weight: 500;
}

.login-btn {
  background-color: transparent;
  border: 10px 10px rgb(231, 31, 144);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  /* font-weight: bold; */
  padding: 8px 15px;
  font-size: 15px;
  font-family: 'Varela', sans-serif; 
  text-shadow: rgba(3, 3, 3, 0.0);
  width: 60%;
}

.padding {
  padding: 50px 0;
}

.about-wrapper {
background: white;
color: black;
padding: 50px;
}



.fixed {
  background: url(../images/person-singing-1370545.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}


footer {
  width: 100%;
  background-color: white;
  padding: 5% 5% 10% 5%;
  color: black;
  font-family: 'Varela', sans-serif;
  font-size: small;
}

.fa {
  padding: 15px;
  font-size: 25px;
  color: black;
}

/* 
.fa:hover {

} */


@media (max-width: 768px) {
  .home-content h1 {
    font-size: 300%;
  }

};